In [2]:
import pandas as pd

df = pd.read_csv("home_price.csv")
df

     area_sqr_ft  price_lakhs  bedrooms
0          656.0         39.0         2
1         1260.0         83.2         2
2         1057.0         86.6         3
3         1259.0         59.0         2
4         1800.0        140.0         3
..           ...          ...       ...
195       1412.0         71.0         2
196       1140.0         67.0         2
197       1501.0         80.0         2
198       1408.0         69.0         2
199       1198.0         56.0         2

[200 rows x 3 columns]

In [3]:
from sklearn.model_selection import train_test_split

X = df[["area_sqr_ft","bedrooms"]]
y = df["price_lakhs"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [4]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8874887686858771

In [5]:
model.predict(X_test[:3])

array([79.15940002, 70.96469522, 63.51496358])

In [6]:
y_test[:3].to_list()

[68.0, 80.1, 69.0]

now use voting regressor

In [7]:
from sklearn.ensemble import VotingRegressor

from sklearn.linear_model import LinearRegression, Ridge
from sklearn.tree import DecisionTreeRegressor

# Create different regression models
lin_reg = LinearRegression()
ridge_reg = Ridge(alpha=1.0)
dt_reg = DecisionTreeRegressor()


vr = VotingRegressor(estimators=[
    ('lr', lin_reg),
    ('rr', ridge_reg),
    ('dr', dt_reg)
])

vr.fit(X_train, y_train)
vr.score(X_test, y_test)

0.870340859079508

In [8]:
vr.predict(X_test[:3])

array([80.22148778, 70.08163805, 65.10601709])

In [9]:
y_test[:3].to_list()

[68.0, 80.1, 69.0]